.App {
  text-align: center;
}

#circle {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}
.header {
  margin:20px 50px;
  padding: 1px; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(217, 186, 208, 0.783);
  color: white;
}
.table {
  border: thin solid rgba(217, 186, 208, 0.783);
  margin:25px 550px;
}
.main{
  margin: 100px 500px;
}
.main h1{
  color: gray;
}
#circle div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius:50%;
}
.front-side{
  background-color: palevioletred;
  color: white;
  text-align: center;
}
.back-side{
  background-color: pink;
  color: white;
  text-align: center;
}

#circle {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}
#circle div {
  position: absolute;
  -webkit-backface-visibility: hidden;
}
.front-side {
  z-index: 100;
}
.back-side {
  -webkit-transform: rotateY(-180deg);
}


@-webkit-keyframes heads {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(540deg);
    -moz-transform: rotateY(540deg);
    transform: rotateY(540deg);
  }
}
@-webkit-keyframes tails {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
}
